<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
    <!-- CSS引用 -->
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Emp/css/bootstrap-3.3.7-dist/bootstrap.css" type="text/css" />
    
</head>
<body>
      <div class="alert alert-dismissable alert-success" style="margin-top:10px;height:900px;">
		<tr th:each="prod : ${msg}">
           <h4 th:text="${prod}"></h4>
        </tr>
	  </div>
</body>
</html>