<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileUserTaskDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileUserTaskEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="UserID" property="userid" jdbcType="VARCHAR" />
    <result column="CourseID" property="courseid" jdbcType="VARCHAR" />
    <result column="CourseStartDate" property="coursestartdate" jdbcType="TIMESTAMP" />
    <result column="CourseEndDate" property="courseenddate" jdbcType="TIMESTAMP" />
    <result column="CompletePercent" property="completepercent" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ability.emp.mobile.entity.MobileUserTaskEntity" >
    select * from t_usertask
    where 1=1
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_usertask
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ability.emp.mobile.entity.MobileUserTaskEntity" >
    insert into t_usertask
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="courseid != null" >
        CourseID,
      </if>
      <if test="coursestartdate != null" >
        CourseStartDate,
      </if>
      <if test="courseenddate != null" >
        CourseEndDate,
      </if>
      <if test="completepercent != null" >
        CompletePercent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=VARCHAR},
      </if>
      <if test="coursestartdate != null" >
        #{coursestartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseenddate != null" >
        #{courseenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="completepercent != null" >
        #{completepercent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileUserTaskEntity" >
    update t_usertask
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        CourseID = #{courseid,jdbcType=VARCHAR},
      </if>
      <if test="coursestartdate != null" >
        CourseStartDate = #{coursestartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseenddate != null" >
        CourseEndDate = #{courseenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="completepercent != null" >
        CompletePercent = #{completepercent,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>