<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileBearWordDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileWordRecordEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="WORD_ID" property="wordId" jdbcType="VARCHAR" />
    <result column="WORD" property="word" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="IS_FAIL" property="isFail" jdbcType="VARCHAR" />
    <result column="IS_SEL" property="isSel" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, WORD_ID, WORD, USER_ID, IS_FAIL, IS_SEL, CREATE_DATE, UPDATE_DATE
  </sql>
  
  <select id="query" resultMap="BaseResultMap" parameterType="com.ability.emp.mobile.entity.MobileWordRecordEntity" >
    select * from t_word_record t where 1=1
    <if test="isSel != null and isSel != ''">
		AND IS_SEL='0'
	</if>
	<if test="userId != null and userId != ''">
		AND USER_ID=#{userId}
	</if>
    ORDER BY RAND() LIMIT 10
  </select>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileWordRecordEntity" >
    update t_word_record
    <set >
      <if test="wordId != null" >
        WORD_ID = #{wordId,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        WORD = #{word,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isFail != null" >
        IS_FAIL = #{isFail,jdbcType=VARCHAR},
      </if>
      <if test="isSel != null" >
        IS_SEL = #{isSel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>