<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileScenListDropLetDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileScenListDropLetEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DropLetID" property="dropletid" jdbcType="VARCHAR" />
    <result column="DropLetConfTypeID" property="dropletconftypeid" jdbcType="VARCHAR" />
    <result column="PreDropLetConTypeID" property="predropletcontypeid" jdbcType="VARCHAR" />
    <result column="RelaDropLetID" property="reladropletid" jdbcType="VARCHAR" />
    <result column="ScenIcon" property="scenicon" jdbcType="VARCHAR" />
    <result column="ScenName" property="scenname" jdbcType="VARCHAR" />
    <result column="Index" property="index" jdbcType="INTEGER" />
    <result column="CompPerc" property="compperc" jdbcType="VARCHAR" />
    <result column="AverageScore" property="averagescore" jdbcType="VARCHAR" />
    <result column="CurrentPoint" property="currentpoint" jdbcType="VARCHAR" />
    <result column="TotalPoint" property="totalpoint" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <select id="selectScenList" resultMap="BaseResultMap" parameterType="com.ability.emp.mobile.entity.MobileScenListDropLetEntity" >
    select * from t_scenlistdropletdata t
    where 1=1
    <if test="dropletid != null and dropletid != ''">
		and DropLetID = #{dropletid}
	</if>
	<if test="predropletcontypeid != null and predropletcontypeid != ''">
		and PreDropLetConTypeID = #{predropletcontypeid}
	</if>
	order by t.`Index` asc
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_scenlistdropletdata
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ability.emp.mobile.entity.MobileScenListDropLetEntity" >
    insert into t_scenlistdropletdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dropletid != null" >
        DropLetID,
      </if>
      <if test="dropletconftypeid != null" >
        DropLetConfTypeID,
      </if>
      <if test="predropletcontypeid != null" >
        PreDropLetConTypeID,
      </if>
      <if test="reladropletid != null" >
        RelaDropLetID,
      </if>
      <if test="scenicon != null" >
        ScenIcon,
      </if>
      <if test="scenname != null" >
        ScenName,
      </if>
      <if test="index != null" >
        Index,
      </if>
      <if test="compperc != null" >
        CompPerc,
      </if>
      <if test="averagescore != null" >
        AverageScore,
      </if>
      <if test="currentpoint != null" >
        CurrentPoint,
      </if>
      <if test="totalpoint != null" >
        TotalPoint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dropletid != null" >
        #{dropletid,jdbcType=VARCHAR},
      </if>
      <if test="dropletconftypeid != null" >
        #{dropletconftypeid,jdbcType=VARCHAR},
      </if>
      <if test="predropletcontypeid != null" >
        #{predropletcontypeid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletid != null" >
        #{reladropletid,jdbcType=VARCHAR},
      </if>
      <if test="scenicon != null" >
        #{scenicon,jdbcType=VARCHAR},
      </if>
      <if test="scenname != null" >
        #{scenname,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="compperc != null" >
        #{compperc,jdbcType=VARCHAR},
      </if>
      <if test="averagescore != null" >
        #{averagescore,jdbcType=VARCHAR},
      </if>
      <if test="currentpoint != null" >
        #{currentpoint,jdbcType=VARCHAR},
      </if>
      <if test="totalpoint != null" >
        #{totalpoint,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileScenListDropLetEntity" >
    update t_scenlistdropletdata
    <set >
      <if test="dropletid != null" >
        DropLetID = #{dropletid,jdbcType=VARCHAR},
      </if>
      <if test="dropletconftypeid != null" >
        DropLetConfTypeID = #{dropletconftypeid,jdbcType=VARCHAR},
      </if>
      <if test="predropletcontypeid != null" >
        PreDropLetConTypeID = #{predropletcontypeid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletid != null" >
        RelaDropLetID = #{reladropletid,jdbcType=VARCHAR},
      </if>
      <if test="scenicon != null" >
        ScenIcon = #{scenicon,jdbcType=VARCHAR},
      </if>
      <if test="scenname != null" >
        ScenName = #{scenname,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        Index = #{index,jdbcType=INTEGER},
      </if>
      <if test="compperc != null" >
        CompPerc = #{compperc,jdbcType=VARCHAR},
      </if>
      <if test="averagescore != null" >
        AverageScore = #{averagescore,jdbcType=VARCHAR},
      </if>
      <if test="currentpoint != null" >
        CurrentPoint = #{currentpoint,jdbcType=VARCHAR},
      </if>
      <if test="totalpoint != null" >
        TotalPoint = #{totalpoint,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>