<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileUserDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileUserEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="OPENID" property="openid" jdbcType="VARCHAR" />
    <result column="TASKID" property="taskid" jdbcType="VARCHAR" />
    <result column="IS_APPOINT" property="isAppoint" jdbcType="VARCHAR" />
    <result column="DEL" property="del" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="REGISTERDATE" property="registerdate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from t_user where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="login2" resultMap="BaseResultMap" parameterType="com.ability.emp.mobile.entity.MobileUserEntity">
    select * from t_user where PHONE = #{phone,jdbcType=VARCHAR} and CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <select id="selectUser" resultType="com.ability.emp.mobile.entity.MobileUserEntity" parameterType="com.ability.emp.mobile.entity.MobileUserEntity">
    select * from t_user where PHONE = #{phone,jdbcType=VARCHAR}
  </select>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileUserEntity" >
    update t_user
    <set >
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        TASKID = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="isAppoint != null" >
        IS_APPOINT = #{isAppoint,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        DEL = #{del,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null" >
        REGISTERDATE = #{registerdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="com.ability.emp.mobile.entity.MobileUserEntity" keyProperty="id">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="tutor != null" >
        TUTOR,
      </if>
      <if test="deparment != null" >
        DEPARMENT,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="openid != null" >
        OPENID,
      </if>
      <if test="taskid != null" >
        TASKID,
      </if>
      <if test="isAppoint != null" >
        IS_APPOINT,
      </if>
      <if test="del != null" >
        DEL,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="registerdate != null" >
        REGISTERDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="tutor != null" >
        #{tutor,jdbcType=VARCHAR},
      </if>
      <if test="deparment != null" >
        #{deparment,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="isAppoint != null" >
        #{isAppoint,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null" >
        #{registerdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
</mapper>