<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileDictationDropLetDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileDictationDropLetEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DropLetID" property="dropletid" jdbcType="VARCHAR" />
    <result column="DropLetConfTypeID" property="dropletconftypeid" jdbcType="VARCHAR" />
    <result column="RelaDropLetID" property="reladropletid" jdbcType="VARCHAR" />
    <result column="RelaDropLetConTypeID" property="reladropletcontypeid" jdbcType="VARCHAR" />
    <result column="Image" property="image" jdbcType="VARCHAR" />
    <result column="Audio" property="audio" jdbcType="VARCHAR" />
    <result column="Question" property="question" jdbcType="LONGVARCHAR" />
    <result column="Anwser" property="anwser" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  
  <select id="selectDictationData" resultType="com.ability.emp.mobile.entity.MobileDictationDropLetEntity" parameterType="com.ability.emp.mobile.entity.MobileDictationDropLetEntity" >
    select * from t_dictationdropletdata
    where 1=1
    <if test="dropletid != null and dropletid != ''">
		and DropLetID = #{dropletid}
	</if>
	<if test="dropletconftypeid != null and dropletconftypeid != ''">
		and DropLetConfTypeID = #{dropletconftypeid}
	</if>
	ORDER BY RAND() LIMIT 1
  </select>
  
  
  <insert id="insert" parameterType="com.ability.emp.mobile.entity.MobileDictationDropLetEntity" >
    insert into t_dictationdropletdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dropletid != null" >
        DropLetID,
      </if>
      <if test="dropletconftypeid != null" >
        DropLetConfTypeID,
      </if>
      <if test="reladropletid != null" >
        RelaDropLetID,
      </if>
      <if test="reladropletcontypeid != null" >
        RelaDropLetConTypeID,
      </if>
      <if test="image != null" >
        Image,
      </if>
      <if test="audio != null" >
        Audio,
      </if>
      <if test="question != null" >
        Question,
      </if>
      <if test="anwser != null" >
        Anwser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dropletid != null" >
        #{dropletid,jdbcType=VARCHAR},
      </if>
      <if test="dropletconftypeid != null" >
        #{dropletconftypeid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletid != null" >
        #{reladropletid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletcontypeid != null" >
        #{reladropletcontypeid,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="audio != null" >
        #{audio,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=LONGVARCHAR},
      </if>
      <if test="anwser != null" >
        #{anwser,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileDictationDropLetEntity" >
    update t_dictationdropletdata
    <set >
      <if test="dropletid != null" >
        DropLetID = #{dropletid,jdbcType=VARCHAR},
      </if>
      <if test="dropletconftypeid != null" >
        DropLetConfTypeID = #{dropletconftypeid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletid != null" >
        RelaDropLetID = #{reladropletid,jdbcType=VARCHAR},
      </if>
      <if test="reladropletcontypeid != null" >
        RelaDropLetConTypeID = #{reladropletcontypeid,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        Image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="audio != null" >
        Audio = #{audio,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        Question = #{question,jdbcType=LONGVARCHAR},
      </if>
      <if test="anwser != null" >
        Anwser = #{anwser,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>