<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.mobile.dao.MobileFirstCategoryDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.mobile.entity.MobileFirstCategoryEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FirCatName" property="fircatname" jdbcType="VARCHAR" />
    <result column="Index" property="index" jdbcType="INTEGER" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, FirCatName, Index, Desc
  </sql>
  
  <select id="getIndexData" resultMap="BaseResultMap" parameterType="com.ability.emp.mobile.entity.MobileFirstCategoryEntity" >
    select * from t_firstcategory t
    
    where 1=1
    order by t.index asc
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_firstcategory
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.ability.emp.mobile.entity.MobileFirstCategoryEntity" >
    insert into t_firstcategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fircatname != null" >
        FirCatName,
      </if>
      <if test="index != null" >
        Index,
      </if>
      <if test="desc != null" >
        Desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fircatname != null" >
        #{fircatname,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.mobile.entity.MobileFirstCategoryEntity" >
    update t_firstcategory
    <set >
      <if test="fircatname != null" >
        FirCatName = #{fircatname,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        Index = #{index,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        Desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>