<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.admin.dao.AdminUserReportDao" >
  
  
  <select id="getHitCardRecord" resultType="com.ability.emp.admin.entity.vo.AdminUserReportVo" parameterType="com.ability.emp.admin.entity.vo.AdminUserReportVo" >
    select t.USER_ID as id,date_format(t.DATE,'%Y-%m-%d') from t_hitcard_record t 
    where 1=1
    <if test="id != null and id != ''">
		and USER_ID=#{id}
	</if>
    <if test="stringDate != null and stringDate != ''">
		and date_format(t.DATE,'%Y-%m-%d')=#{stringDate}
	</if>
    
  </select>
  
  <select id="getUser" resultType="com.ability.emp.admin.entity.vo.AdminUserReportVo" parameterType="com.ability.emp.admin.entity.vo.AdminUserReportVo" >
   select t.id,t.USER_NAME as userName,t.PHONE,t.TUTOR as tutor from t_user t
   where 1=1
   <if test="userName != null and userName != ''">
		and USER_NAME=#{userName}
   </if>
   <if test="phone != null and phone != ''">
		and PHONE=#{phone}
   </if>
   <if test="tutor != null and tutor != ''">
		and TUTOR=#{tutor}
   </if>
  </select>
  
  
</mapper>