<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.admin.dao.AdminFirstCategoryDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.admin.entity.AdminFirstCategoryEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FirCatName" property="fircatname" jdbcType="VARCHAR" />
    <result column="Index" property="index" jdbcType="INTEGER" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, FirCatName, Index
  </sql>
  
  <select id="getIndexData" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminFirstCategoryEntity" >
    select * from t_firstcategory
    
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryCourseType" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminFirstCategoryEntity" >
    select * from t_firstcategory t 
    where 1=1
    order by t.index asc
  </select>
</mapper>