<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ability.emp.admin.dao.AdminTaskDao" >
  <resultMap id="BaseResultMap" type="com.ability.emp.admin.entity.AdminTaskEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="THESAURES_TYPE" property="thesauresType" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="TASKNAME" property="taskname" jdbcType="VARCHAR" />
    <result column="TaskState" property="taskstate" jdbcType="VARCHAR" />
    <result column="CourseId" property="courseid" jdbcType="VARCHAR" />
  </resultMap>
  

  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.ability.emp.admin.entity.AdminTaskEntity" >
    select * from t_task where 1=1
    <if test="taskname != null and taskname != ''">
    	AND TASKNAME like concat(concat('%',#{taskname}),'%')
    </if>
    <if test="courseid != null and courseid != ''">
    	AND CourseId = #{courseid}
    </if>
    <if test="taskstate != null and taskstate != ''">
    	AND TaskState = #{taskstate}
    </if>
  </select>
  
  <select id="selectTask" resultType="com.ability.emp.admin.entity.AdminTaskEntity" parameterType="com.ability.emp.admin.entity.AdminTaskEntity" >
    select * from t_task where 1=1
    <if test="taskname != null and taskname != ''">
    	AND TASKNAME like concat(concat('%',#{taskname}),'%')
    </if>
    <if test="courseid != null and courseid != ''">
    	AND CourseId = #{courseid}
    </if>
    <if test="taskstate != null and taskstate != ''">
    	AND TaskState = #{taskstate}
    </if>
    <if test="id != null and id != ''">
    	AND ID = #{id}
    </if>
    <if test="thesauresType != null and thesauresType != ''">
    	AND THESAURES_TYPE = #{thesauresType}
    </if>
    <if test="startStringDate != null and startStringDate != ''">
    	AND DATE_FORMAT(START_DATE, '%Y-%m-%d') &gt;= #{startStringDate}
    </if>
    <if test="endStringDate != null and endStringDate != ''">
    	AND DATE_FORMAT(END_DATE, '%Y-%m-%d') &lt;= #{endStringDate}
    </if>
  </select>
  
  <select id="findTaskName" resultType="java.lang.String" parameterType="com.ability.emp.admin.entity.AdminTaskEntity">
    select TASKNAME from t_task where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectStudyCalendar" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT START_DATE,END_DATE FROM t_task where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_task
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="queryTaskById" resultType="com.ability.emp.admin.entity.AdminTaskEntity" parameterType="java.lang.String" >
    select * from t_task where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.ability.emp.admin.entity.AdminTaskEntity" >
    insert into t_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="thesauresType != null" >
        THESAURES_TYPE,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="taskname != null" >
        TASKNAME,
      </if>
      <if test="taskstate != null" >
        TaskState,
      </if>
      <if test="courseid != null" >
        CourseId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="thesauresType != null" >
        #{thesauresType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskname != null" >
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.ability.emp.admin.entity.AdminTaskEntity" >
    update t_task
    <set >
      <if test="thesauresType != null" >
        THESAURES_TYPE = #{thesauresType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskname != null" >
        TASKNAME = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null" >
        TaskState = #{taskstate,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        CourseId = #{courseid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>